extends layout

block content
  h1= title
  p Welcome to #{title}
  md-button#getAllBooks(class='md-raised md-primary' onClick='getAllBooks()') Get All Books


  script(type='text/javascript').
     function getAllBooks(){
       $(location).attr('href','/books');
     };