extends layout

block content
  h1= title
  p Welcome to #{title}
  div(ng-controller='BookCtrl')
   md-button#getAllBooks(class='md-raised md-primary' ng-click='getAllBooks()') Get All Books
  div(ng-view)
