doctype html
html(ng-app = 'library')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='angular-material/angular-material.min.css')
    script(src='jquery/dist/jquery.js')
    script(src='angular/angular.min.js')
    script(src='angular-material/angular-material.js')
    script(src='angular-scripts/library.js')
    script(src='angular-animate/angular-animate.min.js')
    script(src='angular-aria/angular-aria.min.js')
  body
    block content